<div class="multiselect-container" dropdown autoClose="outsideClick">
    <button class="btn btn-default" dropdownToggle>
        <span>{{config.buttonLabel}}</span> ({{selectedLength}})
        <span class="caret"></span>
    </button>
    <ul dropdownMenu class="dropdown-menu">
        <li *ngIf="config.showCheckAll" class="top-section" [ngClass]="{'with-border': !config.showUncheckAll }">
            <a class="dropdown-item" (click)="checkAll()"><i class="fa fa-check"></i> Check All</a>
        </li>
        <li *ngIf="config.showUncheckAll" class="top-section with-border">
            <a class="dropdown-item" (click)="uncheckAll()"><i class="fa fa-times"></i> Uncheck All</a>
        </li>
        <li *ngFor="let row of model"  role="menuitem">
            <a class="dropdown-item" (click)="toggleRow(row)"><i *ngIf="row.selected" class="fa fa-check"></i> {{row.label}}</a>
        </li>
    </ul>
</div>